*,*::after,::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --blue-colour: #1992D4;
    --green-colour: #84D392;
    --background-gray: #E2E8F0;
    --white: #fff;
}

@font-face {
    font-family: "Nunito";
    src: url(fonts/Nunito/static/Nunito-Light.ttf)
}

@font-face {
    font-family: "Poppins-light";
    src: url(fonts/Poppins/Poppins-ExtraLight.ttf);
}

html {
    height: 100%;
}

body {
    font-family: "Poppins-light", Nunito;
    height: 100%;
    display: grid;
    /* grid-template: clamp(150px, 15%, 200px) 1fr;
    grid-template-rows: 150px 1fr ; */
    grid-template: 180px 1fr 30px/ clamp(150px, 20%, 225px) 1fr ;
    grid-template-areas: 
    "sidebar header"
    "sidebar main"
    "sidebar footer"
    ;
}

/* header */
header {
    grid-area: header;
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 15px 40px;
}

header > div.top-header {
    display: flex;
    justify-content: space-between;
    gap: 70px;
}

header > div.top-header > .left-header {
    display: flex;
    align-items: center;
    flex: 1;
    max-width: 800px;
}

header > div.top-header > .left-header > .search-bar{
    display: flex;
    align-items: center;
    flex: 1;
    gap: 5px;
    background-color: var(--background-gray);
    padding: 5px;
    border-radius: 20px;
    max-width: 800px;
}

header > div.top-header > .left-header > .search-bar > input {
    flex: 1;
    border: none;
    background-color: inherit;
    font-size: 1.2rem;
}
header > div.top-header > .left-header > .search-bar > input:hover,
header > div.top-header > .left-header > .search-bar > input:focus {
    outline: none;
}

header > div.top-header > .right-header {
    display: flex;
    align-items: center;
    gap: 25px;
}

header > div.bottom-header {
    display: flex;
    justify-content: space-between;
}

header > div.bottom-header > .left-header {
    display: flex;
    align-items: center;
    gap:10px;
}
header > div.bottom-header > .left-header img {
    width: 60px;
}
header > div.bottom-header > .left-header span:first-child{
    font-weight: 700;
    font-size: 0.8rem;
}

header > div.bottom-header > .left-header span:last-child {
    font-weight: 700;
    font-size: 1rem;
}

header > div.bottom-header > .right-header{
    display: flex;
    align-items: center;
    gap: 20px;
}

header > div.bottom-header > .right-header button {
    background-color: var(--blue-colour);
    color: var(--white);
    font-weight: 700;
    border: none;
    border-radius: 20px;
    padding: 8px 15px;
    font-size: 0.8rem;
}

/* header end */

/* sidebar */
div.sidebar{
    grid-area: sidebar;
    background-color: var(--blue-colour);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    color: var(--white);
    font-weight: 600;
}
.sidebar-icons {
    display: flex;
    flex-direction: column;
    gap: inherit;
    font-size: 0.9rem;
    padding-right: 10px;
}
div.sidebar h2 {
    text-align: center;
    padding: 20px 0;
}

div.sidebar img{
    transform: scale(0.7);
}

div.sidebar .sidebar-main-icons ul li,
div.sidebar .sidebar-other-icons ul li {
    display: flex;
    align-items: center;
    gap: 5px;
}
/* sidebar end*/

/* main content */
main {
    display: flex;
    background-color: var(--background-gray);
    align-items: flex-start;
}

main .projects {
    flex: 3;
    display: grid;
    padding:20px;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(350px,1fr));

}

main .projects .project {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    border-radius: 25px;
    padding:20px;
    border-left: solid black 10px;
}

main .projects .project .project-content {
    max-width: 400px;
}
main .projects .project .project-icons {
    display: flex;
    gap:10px;
    align-self: flex-end;
    justify-self: flex-end;
    margin-top: auto;
}

main .projects .project img {
    width: 35px;
}
/* main content end */

/* side content */
main .side-content {
    flex: 1;
}

div.side-content {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 20px ;
    scrollbar-width: 1vh;
}

div.side-content .announcements {
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: 500px;
    overflow: hidden visible;
    background-color: var(--white);
    border-radius: 15px;     background-color: var(--white);
}

div.side-content .announcement:not(.announcement:last-child) {
    border-bottom: 1px var(--background-gray) solid;
}

div.side-content .announcement .announcement-content{font-size: 0.85rem;}

/* trending */
div.side-content .trending {
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-height: 400px;
    background-color: var(--white);
    border-radius: 15px;   
    overflow: hidden visible;
}

.trending-person {
    display: flex;
    align-items: center;
    gap: 10px;
}

.trending-person img {
    align-self: flex-start;
    transform: scale(1.1);
}

.trending-person-bio {
    font-size: 0.7rem;
}


/* trending end */

/* side content end */



ul {
    list-style-type: none;
}

img[src="img/profile-image.png"] { 
    width: 40px; /* temporary sizing */
    border-radius: 100%;
}

footer {
    grid-area: footer;
    text-align: center;
    background-color: var(--background-gray);
}