*,*::after,::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --blue-colour: #1992D4;
    --green-colour: #84D392;
    --background-gray: #E2E8F0;
    --backgroound-white: #fff;
}

@font-face {
    font-family: "Nunito";
    src: url(fonts/Nunito/static/Nunito-Light.ttf)
}

@font-face {
    font-family: "Poppins-light";
    src: url(fonts/Poppins/Poppins-ExtraLight.ttf);
}

html {
    height: 100%;
}

body {
    font-family: "Poppins-light", Nunito;
    height: 100%;
    display: grid;
    /* grid-template: clamp(150px, 15%, 200px) 1fr;
    grid-template-rows: 150px 1fr ; */
    grid-template: 180px 1fr 30px/ clamp(150px, 20%, 225px) 1fr ;
    grid-template-areas: 
    "sidebar header"
    "sidebar main"
    "sidbar footer"
    ;
}

/* header */
header {
    grid-area: header;
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 15px 40px;
}

header > div.top-header {
    display: flex;
    justify-content: space-around;
    gap: 70px;
}

header > div.top-header > .left-header {
    display: flex;
    align-items: center;
    flex: 1;
    max-width: 800px;
}

header > div.top-header > .left-header > .search-bar{
    display: flex;
    align-items: center;
    flex: 1;
    gap: 5px;
    background-color: var(--background-gray);
    padding: 5px;
    border-radius: 20px;
    max-width: 800px;
}

header > div.top-header > .left-header > .search-bar > input {
    flex: 1;
    border: none;
    background-color: inherit;
    font-size: 1.2rem;
}
header > div.top-header > .left-header > .search-bar > input:hover,
header > div.top-header > .left-header > .search-bar > input:focus {
    outline: none;
}

header > div.top-header > .right-header {
    display: flex;
    align-items: center;
    gap: 25px;
}

header > div.bottom-header {
    display: flex;
    justify-content: space-between;
}

header > div.bottom-header > .left-header {

}

header > div.bottom-header > .right-header{
    display: flex;
    align-items: center;
}

/* header end */

div.sidebar {
    grid-area: sidebar;
}


ul {
    list-style-type: none;
}

img[src="img/profile-image.png"] { 
    width: 40px; /* temporary sizing */
}

footer {
    grid-area: footer;
    text-align: center;
}